Architecture: iphoneos-arm
Author: dPaulb
Depiction: https://dpaulb.github.io
Description: Preference Bundle test
Maintainer: dPaulb <choid6180@gmail.com>
Name: PreferenceBundler
Package: com.dPaulb.dPaulbSetting
Section: Applications
Version: 1.0
