Architecture: iphoneos-arm
Author: dPaulb
Depiction: https://dpaulb.github.io
Description: Adds Icon Images
Maintainer: dPaulb <choid6180@gmail.com>
Name: uponstart
Package: com.dPaulb.uponstart
Section: Tweaks
Version: 1.0
