Package: com.dPaulb.popuponstart
Name: popuponstart
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: dPaulb
Author: dPaulb
Section: Tweaks
