Architecture: iphoneos-arm
Author: dPaulb
Depiction: https://dpaulb.github.io
Description: dPaulb's App
Maintainer: dPaulb <choid6180@gmail.com>
Name: dPaulb
Package: com.dPaulb.dPaulb
Section: Applications
Version: 1.0
