Architecture: iphoneos-arm
Author: dPaulb
Depiction: https://dpaulb.github.io
Description: dPaulb's App
Maintainer: dPaulb <choid6180@gmail.com>
Name: rgbSlider
Package: com.dPaulb.rgbSlider
Section: Applications
Version: 1.0
